body {
    font-family: 'Roboto', sans-serif;
}

a:hover,
a:visited,
a:active,
a:focus {
    text-decoration: none;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
    background-color: #00a95045;
}

button,
a.general {
    display: inline-block;
    background: green;
    border-radius: 20px;
    padding: 5px 25px;
    border: 2px #c8dd7e solid;
    font-size: 16px;
    background-color: #ffffff00;
}

button:hover,
a.general:hover {
    background-color: #ecfbb545;
}

button:focus {
    outline: none;
}

video:hover {
    opacity: 0.8;
}

.navbar {
    box-shadow: 1px 1px 4px #ccc;
    min-height: 100px;
    transition: min-height 0.4s;
    -webkit-transition: min-height 0.4s;
    -moz-transition: min-height 0.4s;
    -o-transition: min-height 0.4s;
}

.navbar.smaller {
    min-height: 70px;
}

.navbar-default {
    background-color: white;
    border: none;
}

nav.navbar .logo {
    width: 250px;
}

nav.navbar .logo.smaller {
    width: 160px;
    margin-top: 5px;
}

#navbar ul.nav {
    float: right;
    margin-top: 25px;
    transition: margin-top 0.4s;
    -webkit-transition: margin-top 0.4s;
    -moz-transition: margin-top 0.4s;
    -o-transition: margin-top 0.4s;
}

.smaller #navbar ul.nav {
    margin-top: 10px;
}

#navbar ul li a {
    color: #333;
    font-size: 20px;
    font-weight: 300;
}

#navbar ul li a:hover {
    color: #18a854;
}

#navbar ul li a.icon {
    padding-left: 5px;
    padding-right: 0;
    display: inline-block;
}

.navbar-brand {
    padding: 0 15px;
}

.dropdown-menu>li>a {
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 16px !important;
}

.jumbotron,
.jumbotron .slide {
    height: 700px;
}

.jumbotron {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 100px;
    color: white;
}

.jumbotron .owl-dots {
    bottom: 0;
    position: relative;
    bottom: 90px;
    position: relative;
    zoom: 1.3;
}

.jumbotron .col_1 {
    margin-top: 100px;
}

.jumbotron h4 {
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 25px;
}

.jumbotron p:nth-child(2) {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 25px;
}

.jumbotron p:nth-child(3) {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;
}

.section_1 {
    padding: 50px 0 100px;
}

.section_1 .row_1 h4, .section_1 .row_2 h4 {
    font-weight: 300;
    font-size: 40px;
    color: #18a854;
    margin-bottom: 30px;
}

.section_1 .row_1 p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
}

.section_1 .row_2 {
    margin-top: 40px;
}

.section_1 .row_2 #f1_container {
    position: relative;
    max-width: 260px;
    height: 260px;
    margin: 10px auto;
    z-index: 1;
    border-radius: 10px;
}

.section_1 .row_2 #f1_container {
    perspective: 1000;
}

.section_1 .row_2 #f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s linear;
}

.section_1 .row_2 #f1_container:hover #f1_card {
    transform: rotateY(180deg);
}

.section_1 .row_2 .front {
    background-color: #18a854;
    border-radius: 10px;
    padding: 15px;
}

.section_1 .row_2 .front img {
    width: 60px;
}

.section_1 .row_2 .front>div {
    position: relative;
    top: 50%!important;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section_1 .row_2 .front p {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
}

.section_1 .row_2 .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.section_1 .row_2 .face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #eaebea;
    border-radius: 10px;
    line-height: 260px;
}

.section_1 .row_2 .face.back p {
    /*display: inline-block;*/
    /*vertical-align: top;*/
    line-height: normal;
    font-size: 18px;
    color: #777;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section_2 .col {
    height: 450px;
    padding: 68px;
}

.section_2 .row {
    background-color: #eaebea;
}

.section_2 .title {
    margin-bottom: 40px;
}

.section_2 .title img {
    width: 40px;
    height: 40px;
    float: left;
}

.section_2 h4 {
    padding-top: 9px;
    /*margin-left: 55px;*/
    color: #18a854;
    font-weight: 300;
    font-size: 35px
}

.section_2 p {
    margin: 20px 0;
    font-size: 16px
}

.section_3 {
    padding: 50px 0 50px;
}

.section_3 h4 {
    font-weight: 300;
    font-size: 40px;
    color: #18a854;
    margin-bottom: 30px;
}

.section_3 video,
.section_3 .video {
    position: relative;
    /*height: 250px;*/
    width: 100%;
    cursor: pointer;
}

.section_3 .video,
.listVideo .video {
    margin-bottom: 15px;
}

img.video {
    width: 100%;
}

.section_3 .videoTitle {
    position: absolute;
    top: 25px;
    left: 44px;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 4px #333333;
    font-size: 22px;
    font-weight: 400;
}

.section_4 {
    padding: 90px 0 90px;
    background: #0079AF url(imgs/bg-image-phone-payment.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section_4 h4 {
    font-size: 36px;
    line-height: 60px;
    font-weight: 300;
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
}

.section_4 button {
    color: white;
}

.section_5 {
    padding: 40px 0 50px;
    background-color: #eaebea;
}

.section_5 h4 {
    font-size: 16px;
    margin-bottom: 18px;
    color: #18a854;
}

.section_5 ul {
    list-style: none;
    padding-left: 0;
}

.section_5 li {
    margin: 10px 0;
    font-size: 16px;
}

.section_5 a {
    color: #777;
}

.section_5 a:hover {
    color: #18a854;
}

.section_5 .fab {
    font-size: 20px;
    margin-right: 10px;
}

footer {
    padding: 30px 0 17px;
    color: #ccc;
    font-size: 20px;
    font-weight: 400;
}

footer p {
    font-size: 16px;
    color: #bababa;
}

/*ABOUT US*/

.company {
    margin-top: 100px;
}

.company h1 {
    font-size: 55px;
}

.company h2 {
    font-size: 40px;
    color: #18a854;
    font-weight: 300;
}

.information,
.history,
.hierachy,
.services {
    padding-top: 30px;
    padding-bottom: 40px;
}

.information h2,
.history h2,
.hierachy h2,
.services h2,
.corresponding h2 {
    color: #18a854;
    text-align: center;
    border-bottom: 1px solid;
    margin: 0 auto 50px;
    max-width: 300px;
    padding-bottom: 15px;
    font-size: 24px;
    font-weight: 500;
}

.information h3,
.history h3,
.hierachy h3,
.services h3 {
    font-size: 15px;
    font-weight: 300;
    margin-top: -30px;
    margin-bottom: 60px;
}

.services h4 {
    color: #18a854;
    margin-bottom: 25px;
}

.services p,
.history p {
    line-height: 26px;
}

/*END ABOUT US*/


/*LIST PORJECTS*/

.timeline {}

.timeline ul {
    list-style: none;
    text-align: center;
    margin: 20px 0 40px;
}

.timeline ul li {
    display: inline-block;
    margin: 0 20px;
}

.timeline ul a {
    color: #777;
}

.timeline ul a:hover {
    color: #18a854;
}

.projectsList {
    padding-bottom: 50px;
}

.projectsList .item {
    position: relative;
    color: white;
    margin-bottom: 20px;
}

.projectsList .item img {
    text-shadow: 1px 1px 5px grey;
}

.projectsList .item .content {
    position: absolute;
    top: 0;
    left: 0;
    padding: 25px;
    bottom: 0;
    right: 0;
    -webkit-transition: background-color 0.4s;
    -moz-transition: background-color 0.4s;
    -o-transition: background-color 0.4s;
    transition: background-color 0.4s;
}

.projectsList .item:hover .content {
    background-color: rgba(0, 0, 0, 0.25);
}

.projectsList .item h4 {
    font-size: 23px;
    margin-bottom: 25px;
}

.projectsList .item p {
    font-size: 15px;
    /*font-weight: 300;*/
    margin-bottom: 25px;
}

.projectsList .item a {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

/*END LIST PORJECTS*/


/*PROJECT DETAIL*/

.projectDetail {
    padding: 25px 15px;
}

.projectDetail img {}

.projectDetail .content {
    margin-top: 25px;
}

.projectDetail .content p {}

/*END PROJECT DETAIL*/


/*LIST NEWS*/

.listNew {
    padding: 25px 0 50px;
}

.listNew .item {
    margin-bottom: 50px;
}

.listNew .item img {}

.listNew .item .content h4 {
    font-size: 22px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 28px;
}

.listNew .item .content h4 a {
    color: #18a854;
}

.listNew .item .content h4 a:hover {
    color: #138442;
}

.listNew .item .content p {
    font-size: 15px;
    font-weight: 300;
}

.listNew .item .content a.general {
    margin-top: 10px;
}

.listNew .pagination {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.listNew .pagination a {
    color: #5cb85c;
}

.listNew .pagination li.active a {
    background-color: #5cb85c;
    color: white;
}

/*END LIST NEWS*/


/*LIST VIDEOS*/

.listVideo {
    padding: 25px 0 50px;
}

.listVideo video {
    position: relative;
    /*height: 250px;*/
    width: 100%;
    cursor: pointer;
}

.listVideo .videoTitle {
    position: absolute;
    top: 25px;
    left: 44px;
    z-index: 1;
    color: white;
    text-shadow: 2px 2px 4px #333333;
    font-size: 22px;
    font-weight: 400;
}

/*ENDLIST VIDEOS*/


/*CONTACT*/

.contact {
    /*margin-top: 100px;*/
    padding: 15px 0 50px;
}

.contact h4 {
    font-size: 18px;
    font-weight: 400;
    color: #18a854;
    margin-bottom: 18px;
}

.contact form input,
.contact form textarea {
    border-radius: 0;
}

.contact form textarea {
    height: 150px;
}

.contact iframe {
    width: 100%;
}

/*END CONTACT*/

@media (min-width: 1600px) {
    .navbar .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media (min-width: 768px) {
    .navbar .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media (max-width: 1200px) {
    .section_2 .col {
        padding: 80px;
    }
}

@media (max-width: 992px) {

    #navbar ul li a {
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }

    nav.navbar .logo {
        width: 200px;
    }
    .navbar-brand {
        padding: 10px 15px;
    }
    .smaller .navbar-brand {
        padding: 4px 15px;
    }
    nav.navbar .logo.smaller {
        margin-top: 0;
    }

    .jumbotron .col_1 {
        width: 100%;
    }

    .section_2 .col {
        padding: 70px;
    }

    .section_1 .row_2 .front img {
        width: 40px;
    }
    .section_1 .row_2 .front p {
        font-size: 16px;
    }
    .section_1 .row_2 .face.back p {
        font-size: 16px;
    }
    .section_1 .row_2 #f1_container {
        height: 200px;
    }

    .section_3 .col-xs-4,
    .listVideo .col-xs-4 {
        width: 50%
    }

    .section_3 .videoTitle,
    .listVideo .videoTitle {
        top: 15px;
        left: 40px;
        font-size: 18px;
    }

    .section_4 h4 {
        font-size: 34px;
    }

    .services .col-xs-3 {
        width: 50%;
    }
    .contact .col-xs-6 {
        width: 100%;
    }
    .company h1 {
        font-size: 44px;
    }
    .company h2 {
        font-size: 34px;
    }
    .projectsList .col-xs-4 {
        width: 50%
    }
}

@media (max-width: 767px) {
    .navbar,
    .navbar.smaller {
        min-height: 50px;
    }
    #navbar ul.nav {
        float: none;
    }
    .navbar-brand {
        padding: 5px 15px;
    }
    nav.navbar .logo,
    nav.navbar .logo.smaller {
        width: 100px;
    }

    .jumbotron {
        margin-top: 50px;
    }

    .section_2 .col {
        padding: 40px;
    }

    .navbar-fixed-top .navbar-collapse {
        max-height: 270px;
    }

    .navbar-nav .open .dropdown-menu>li>a {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .jumbotron,
    .jumbotron .slide {
        height: 550px;
    }

    .section_1 .col-xs-3 {
        width: 50%;
    }

    .section_1 .row_2 #f1_container {
        max-width: none;
    }
    .company {
        margin-top: 50px;
    }
}

@media (max-width: 667px) {
    .jumbotron,
    .jumbotron .slide {
        height: 460px;
    }
    .jumbotron h4 {
        font-size: 38px;
    }
    .jumbotron .col_1 {
        margin-top: 55px;
    }
    .jumbotron p:nth-child(2),
    .jumbotron p:nth-child(3) {
        font-size: 17px
    }
    .jumbotron .owl-dots {
        margin-top: 50px !important;
    }
    .section_1 {
        padding: 25px 0 50px;
    }
    .section_1 .row_1 h4,
    .section_3 h4 {
        font-size: 30px;
    }
    .section_1 .row_1 p {
        font-size: 16px;
    }
    .hidden-xxs {
        display: none;
    }
    .full-expand-xxs {
        width: 100%;
    }
    .section_2 .col {
        height: 100%;
        padding: 20px 40px;
    }

    .section_3 .col-xs-4,
    .listVideo .col-xs-4 {
        width: 100%;
    }

    .listNew .col-xs-6 {
        width: 100%;
    }

    .timeline ul li {
        margin: 10px 20px;
    }

    .projectsList .item .content {
        padding: 10px 15px;
    }
    .projectsList .item h4 {
        margin-bottom: 15px;
        font-size: 20px;
    }
    .projectsList .item p {
        font-size: 14px;
        margin-bottom: 20px;
    }
}

@media (max-width: 568px) {
    .jumbotron h4 {
        font-size: 23px;
    }
    .jumbotron p:nth-child(2),
    .jumbotron p:nth-child(3) {
        font-size: 16px;
    }

    .section_1 .col-xs-3 {
        width: 100%;
    }
    .jumbotron .col_1 {
        margin-top: 55px;
    }
    .section_4 h4 {
        font-size: 23px;
        line-height: 30px;
    }
    .section_5 .col-xs-4 {
        width: 100%;
    }
    .services .col-xs-3 {
        width: 100%;
    }
    .projectsList .item .content {
        padding: 8px 18px;
    }
    .projectsList .col-xs-4 {
        width: 100%;
    }
}