.home-slider {
    position: relative;
    margin-bottom: 25px;
    min-height: 475px;
    overflow: hidden;
}
.nivo-controlNav {
    position: absolute;
    bottom: 0;
    right: 40px;
    z-index: 101;
}
.nivo-controlNav a {
	float: left;
	margin: 0 4px;
}
.nivo-controlNav a:before {
	content: " ";
	border-radius: 50%;
	width: 15px;
	height: 15px;
	display: inline-block;
	background-color: #ebedec;
	cursor: pointer;
}
.nivo-controlNav a.active:before {
	background-color: #49a247;
}
.nivoSlider img{
    width: 100%;
}
.nivo-caption{
    z-index: 100 !important;
    width: 100%;
    background: url(../img/shadow-banner.png) repeat-x bottom center;
    height: 100%;
    bottom: 0;
    text-indent: -99999px;
}
.nivo-directionNav a{
    z-index: 102;
    width: 40px;
    height: 40px;
    opacity: .5;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    top: 43%;
    background-color: black;
    border-radius: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
}
.nivo-prevNav{
    left: 15px;
}
.nivo-nextNav{
    right: 15px;
}
.nivo-prevNav:hover{
    -webkit-transform: translate(-1px, 0);
    -moz-transform: translate(-1px, 0);
    -ms-transform: translate(-1px, 0);
    -o-transform: translate(-1px, 0);
    transform: translate(-1px, 0);
    opacity: 1;
}
.nivo-nextNav:hover{
    -webkit-transform: translate(1px, 0);
    -moz-transform: translate(1px, 0);
    -ms-transform: translate(1px, 0);
    -o-transform: translate(1px, 0);
    transform: translate(1px, 0);
    opacity: 1;
}
/* Test */
.feature-projects {
    position: relative;
}

.feature-projects h2 {
    border-bottom: 1px solid #ccc;
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 20px;
    padding-bottom: 6px;
}

.feature-projects h2 span {
    border-bottom: 4px solid #007741;
    position: relative;
    top: -3px;
    padding-bottom: 6px;
}

.tabble {
    position: absolute;
    z-index: 11;
    top: 0;
    right: 0;
}

.tabble ul li {
    float: left;
}

.tabble ul li span {
    line-height: 22px;
    padding: 0px 8px;
    position: relative;
    top: -4px;
    cursor: pointer;
    color: #7b7b7b;
    font-size: 14px;
    padding-bottom: 8px;
    margin: 0 20px;
}

.tabble ul li span.active, .tabble ul li span:hover {
    border-bottom: 2px solid #007741;
}

.projects {
    margin-bottom: 30px;
    width: 100%;
    overflow: hidden;
}
.typical-projects{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.projects li {
    float: left;
    width: auto;
    padding-right: 15px;
    display: inline-block;
}

/*.projects li:first-child{*/
    /*padding-left: 0;*/
/*}*/

/*.projects li:last-child{*/
    /*padding-right: 0;*/
/*}*/

.projects li .project-thumbnail {
    width: 100%;
    margin-bottom: 8px;
    overflow: hidden;
    display: block;
    /* white-space: nowrap; */
}

.projects li a {
    /*float: left !important;*/
    display: block;
}
.projects li img {
    width: 100%;
    height: 100%;
    max-width: 220px;
    max-height:140px;
    overflow: hidden;
}
.projects li a span {
    color: #000;
}

.projects li a:hover span {
    color: #007741;
}

.feature-news {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.feature-news .left {
    width: 68%;
}

.feature-news .lead.left {
    width: 48%;
    margin: 0;
}

.feature-news .lead a span {
    overflow: hidden;
    display: block;
    margin-bottom: 10px;
}

.feature-news .lead a span img {
    width: 100%;
}

.feature-news .lead a {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.2em;
}

.feature-news .lists.right {
    width: 48%;
    margin-bottom: 22px;
}

.feature-news .lists.right span.left {
    width: 30%;
    overflow: hidden;
}

.feature-news .lists.right span.left img {
    width: 100%;
}

.feature-news .lists.right span.right {
    width: 68%;
}

.feature-news .lists.right span.right p {
    color: #000;
    margin-top: 8px;
}

.feature-news .lists.right li {
    padding-bottom: 10px;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
}

.feature-news .lists.right li:nth-child(4){
    border-bottom: 0;
}

.feature-news .lead span {
    font-size: 14px;
    line-height: 1.3em;
    display: block;
    color: #454647;
    text-align: justify;
}

.panel-footer {
    display: none;
}

.panel.panel-default {
    border: none;
    box-shadow: none;
    margin-bottom: 0;
}

.panel-body {
    padding: 0;
}

.feature-news .lists.right img {
    width: 100%;
    border: 1px solid #cccccc;
}

.feature-news .lists.right td {
    vertical-align: top;
    color: #000;
    font-size: 12px;
}

.feature-news .lists.right td a {
    margin-bottom: 6px;
}

.feature-news .lists.right tr td:first-child {
    width: 128px;
    height: 80px;
    overflow: hidden;
    display: block;
    margin-right: 10px;
}

.feature-news .lists.right td{
    color: #454647;
}

.feature-news .lists.right td span {
    color: #007741;
    display: block;
    margin-bottom: 6px;
    line-height: 1.3em;
}

.feature-news .lists.right li a:hover {
    text-decoration: none;
}

.feature-news .lists.right td span:hover {
    text-decoration: underline;
}

.content > .left {
    width: 68%;
}

.feature-news {
    border-bottom: 1px solid #ccc;
}

.services h2 {
    text-align: center;
    font-size: 17px;
    margin: 26px 0;
}

.services-list img {
    width: 100%;
    /* padding: 0 8px; */
}

.services-list a {
    padding: 0 2%;
    overflow: hidden;
}

.services-list .item {
    position: relative;
    text-align: center;
}

.services-list .item span {
    display: block;
    background: #efefef;
    width: 96%;
    margin: 0 auto;
    font-size: 14px;
    padding: 6px 0;
    border-bottom: 2px solid #009b55;
}

.services-list .owl-page.active span {
    background: #007411;
}

.services {
    margin-bottom: 20px;
}

.content.wrap .monthly-news,.content.wrap .certificate, .content.wrap .media {
    width: 42%;
    margin-top: 0;
}
.content .monthly-news{
    margin-right: 2%;
}
.content .certificate {
    margin-right: 5%;
}
.content .certificate ul li{
    display: inline-block;
    width: 49%;
}
.content .monthly-news h3, .content .certificate h3, .content .media h3 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 16px;
}

.content .media ul li {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.content .certificate ul li, .content .media ul li{
    margin-bottom: 20px;
}
.content .certificate ul li:first-child img{
    width: 100px;
}
.content .certificate ul li:last-child img{
    width: 150px;
}
.content .monthly-news ul a {
    margin-bottom: 10px;
    font-size: 13px;
}

.content .monthly-news ul a {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content .docs ul p {
    color: #007411;
}

.content .monthly-news span {
    display: inline-block;
    width: 50%;
    margin-right: 3%;
    height: 80px;
    overflow: hidden;
}

.content .monthly-news img, .content .media img,.fb_iframe_widget{
    width: 100%;
}

.content .monthly-news p, .content .docs p {
    display: inline-block;
    width: 55%;
}

.content > .right {
    width: 30%;
}
.connect div p{
    padding: 0px 10px 14px 10px;
    text-align: justify;
}

.connect div div {
    margin-bottom: 20px;
    overflow: hidden;
}

.connect div div a {
    display: inline-block;
    background: #009b55;
    color: #fff;
    padding: 5px 0px;
    font-size: 14px;
    min-width: 108px;
    font-weight: normal;
    margin-bottom: 6px;
    text-align: center;
    width:49%;
}
.connect div div a:first-child{
    float: left;
}
.connect div div a:last-child{
    float: right;
}

.connect div div a:hover {
    text-decoration: none;
}

.connect > div > a {
    border: 1px solid #009b55;
    text-align: center;
    margin: 0 auto;
    position: relative;
    font-size: 24px;
    overflow: hidden;
    line-height: 45px;
    height: 45px;
}

.connect > div > a span {
    left: 0;
    background: #009b55;
    color: #fff;
    height: 100%;
    padding: 4px 6px;
    width: 45px;
    float: left;
    line-height: 38px;
}

.connect {
    margin-bottom: 26px;
}
.videos h3{
    margin-top: 12px;
}
.videos ul span {
    width: 100%;
    display: inline-block;
    height: auto;
    overflow: hidden;
    position: relative;
}
.playIcon {
    top: 41%;
    left: 44%;
    position: absolute !important;
    z-index: 1;
    font-size: 3em;
    color: rgba(0,0,0,0.6);
    transition: color 0.5s ease;
}
.videos ul span:hover .playIcon{
    color: #cc181e;
}
.videos ul p {
    width: 56%;
    display: inline-block;
    top: 0;
    left: 42%;
    font-size: 13px;
}

.videos ul span img {
    width: 100%;
}

.videos ul a {
    margin-bottom: 10px;
    position: relative;
}

.videos {
    margin-bottom: 20px;
}



.recruitment a i {
    padding: 0px 10px;
    font-size: 10px;
}

.recruitment a {
    font-size: 14px;
    margin-bottom: 8px;
}
.recruitment h3 a{
    margin-bottom: 0;
}

.bottom > [class*=col-]{
    padding: 0;
}
.bottom > [class*=col-]:first-child{
    padding-right: 30px;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    overflow: hidden;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .home-slider{
        min-height: auto;
    }
    .projects {
    	margin-bottom: 0px;
    }
    .projects ul {
        overflow: auto;
        width: 100%;
        white-space: nowrap;
    }
    .projects li {
        width: 100%;
        padding-right: 0;
    }
    .projects li img{
        max-width: 100%;
        max-height: 100%;
    }
    .content > .left, .content > .right {
    	width: 100%;
    }
    .bottom > [class*=col-]:first-child{
        padding-right: 0;
    }
    .content.wrap .monthly-news, .content.wrap .certificate, .content.wrap .media{
        width: 49%;
    }
    .content .certificate{
        margin: 0;
    }
    .services-list a{
        padding: 0;
    }
    .services-list .item span{
        width: 100%;
    }
}
@media (max-width: 480px) {
    .home-slider {
        margin-bottom: 20px;
    }

    .tabble {
        position: relative;
        margin-bottom: 20px;
    }
    .tabble ul li span{
        padding: 10px 0;
        margin: 0 10px;
    }
    .projects li {
        width: 100%;
    }
    .projects li img{
        max-width: 100%;
        max-height: 100%;
    }
    .feature-news .lead.left,
    .feature-news .lists.right,
    .content .monthly-news,
    .content .docs,
    .bottom > div {
        width: 100%;
    }
    .services {
        margin-bottom: 0px;
    }
    .services h2 {
        margin: 16px 0;
    }
    .content.wrap .monthly-news, .content.wrap .certificate, .content.wrap .media{
        width: 100%;
    }
    .feature-news .lead.left{
        margin-bottom: 25px;
    }
    #cjsc-video{
        height: 250px !important;
    }
    .projects li a span{
        display: block;
        font-size: 12px;
        overflow: hidden;
        width: 100%;
    }
}

@media (max-width: 320px) {
    .projects li {
        float: none;
        width: 80%;
        padding: 0 1%;
        display: inline-block;
    }

    .content .monthly-news span {
    	height: 80px;
    }
}

.slider-pro{
    padding-right: 0 !important;
    max-width: 100% !important;
}
.sp-slides-container{
    width: 48%;
}
.sp-thumbnails-container{
    width: 48%;
}